.cache/
.config/
# various borg files that need to be ignored
borg.backup.settings
borg.backup.*.settings
borg.backup.*.include
borg.backup.*.exclude
borg.backup.*.schema-only
borg.backup.*.init
borg.backup.*.compact
borg.backup.*.lock
